__pycache__
tcnot_circuit.ipynb
teleportedCNOTdraft3.py   
teleported_CNOT_draft2.py   
teleported_CNOT_draft1.py   
TCNOT_with_sequence.py
Liang_Purification.py
TeleportedCNOT_EncodedBellPair.ipynb
andy_algocooling.ipynb
example.log  
Liang_Purification.py
stabalizers.ipynb
draft.py
draft1.py
algo_cooling.py
**/stim_sequence_v2/
.claude
.vscode
log/
test.py
test.ipynb
QEC_713.py
qec_protocols.py
test_QEC_713.py
QEC_app.py
QEC_protcol.py

